@keyframes around {
  0%  { left: 0; top: 0; }
  25% { left: 240px; top: 0; }
  50% { left: 240px; top: 140px; }
  75% { left: 0; top: 140px; }
  100% { left: 0; top: 0; }
}
p { animation: around 4s linear infinite;
cursor: pointer;
background-color:red;
width:150px;
    letter-spacing: 0.2em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
   }